# Maven
target/
pom.xml.tag
pom.xml.next
pom.xml.releaseBackup
pom.xml.versionsBackup
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.properties

#ignore class files in SENG3150A\SENG3150-Project\SprintBoot- Backend\demo\target\classes\com\example\config
# Class files
*.class
# JAR files
*.jar