#ignore class files in SENG3150A\SENG3150-Project\SprintBoot- Backend\demo\target\classes\com\example\config
# Class files
*.class
# JAR files
*.jar
SENG3150-Project/SprintBoot- Backend/demo/target/classes/com/.DS_Store
SENG3150-Project/SprintBoot- Backend/demo/target/classes/application.properties
SENG3150-Project/SprintBoot- Backend/demo/target/classes/.DS_Store