SENG3150-Project/ReactVite- Frontend/.nyc_output/out.json
SENG3150-Project/ReactVite- Frontend/coverage/clover.xml
SENG3150-Project/ReactVite- Frontend/coverage/coverage-final.json
SENG3150-Project/ReactVite- Frontend/coverage/coverage-summary.json
SENG3150-Project/ReactVite- Frontend/coverage/lcov.info
SENG3150-Project/ReactVite- Frontend/coverage/lcov-report/base.css
SENG3150-Project/ReactVite- Frontend/coverage/lcov-report/block-navigation.js
SENG3150-Project/ReactVite- Frontend/coverage/lcov-report/favicon.png
SENG3150-Project/ReactVite- Frontend/coverage/lcov-report/index.html
SENG3150-Project/ReactVite- Frontend/coverage/lcov-report/prettify.css
SENG3150-Project/ReactVite- Frontend/coverage/lcov-report/prettify.js
SENG3150-Project/ReactVite- Frontend/coverage/lcov-report/sort-arrow-sprite.png
SENG3150-Project/ReactVite- Frontend/coverage/lcov-report/sorter.js
SENG3150-Project/ReactVite- Frontend/coverage/lcov-report/src/App.jsx.html
SENG3150-Project/ReactVite- Frontend/coverage/lcov-report/src/index.html
SENG3150-Project/ReactVite- Frontend/coverage/lcov-report/src/main.jsx.html
SENG3150-Project/ReactVite- Frontend/coverage/lcov-report/src/components/Footer.jsx.html
SENG3150-Project/ReactVite- Frontend/coverage/lcov-report/src/components/Header.jsx.html
SENG3150-Project/ReactVite- Frontend/coverage/lcov-report/src/components/index.html
SENG3150-Project/ReactVite- Frontend/coverage/lcov-report/src/components/ProtectedRoute.jsx.html
SENG3150-Project/ReactVite- Frontend/coverage/lcov-report/src/components/Attendance/AttendancePage.jsx.html
SENG3150-Project/ReactVite- Frontend/coverage/lcov-report/src/components/Attendance/index.html
SENG3150-Project/ReactVite- Frontend/coverage/lcov-report/src/components/Auth/AuthContext.tsx.html
SENG3150-Project/ReactVite- Frontend/coverage/lcov-report/src/components/Auth/index.html
SENG3150-Project/ReactVite- Frontend/coverage/lcov-report/src/components/Dashboard/Header.jsx.html
SENG3150-Project/ReactVite- Frontend/coverage/lcov-report/src/components/Dashboard/HomeDashboard.jsx.html
SENG3150-Project/ReactVite- Frontend/coverage/lcov-report/src/components/Dashboard/index.html
SENG3150-Project/ReactVite- Frontend/coverage/lcov-report/src/components/Dashboard/SessionContainer_Laptop.jsx.html
SENG3150-Project/ReactVite- Frontend/coverage/lcov-report/src/components/Dashboard/SessionContainer_Mobile.jsx.html
SENG3150-Project/ReactVite- Frontend/coverage/lcov-report/src/components/Dashboard/VerticalBar_Laptop.jsx.html
SENG3150-Project/ReactVite- Frontend/coverage/lcov-report/src/components/Dashboard/VerticalBar_Mobile.jsx.html
SENG3150-Project/ReactVite- Frontend/coverage/lcov-report/src/components/Dashboard/logic/ActivityLogic.js.html
SENG3150-Project/ReactVite- Frontend/coverage/lcov-report/src/components/Dashboard/logic/CleanInputs.js.html
SENG3150-Project/ReactVite- Frontend/coverage/lcov-report/src/components/Dashboard/logic/DragDropLogic.js.html
SENG3150-Project/ReactVite- Frontend/coverage/lcov-report/src/components/Dashboard/logic/hooks.js.html
SENG3150-Project/ReactVite- Frontend/coverage/lcov-report/src/components/Dashboard/logic/index.html
SENG3150-Project/ReactVite- Frontend/coverage/lcov-report/src/components/Dashboard/logic/PopulatingLogic.js.html
SENG3150-Project/ReactVite- Frontend/coverage/lcov-report/src/components/Dashboard/logic/SessionContainerLogic.js.html
SENG3150-Project/ReactVite- Frontend/coverage/lcov-report/src/components/Dashboard/logic/VerticalBarSessionLogic.js.html
SENG3150-Project/ReactVite- Frontend/coverage/lcov-report/src/components/Dashboard/screens/ActivityDetailScreen.jsx.html
SENG3150-Project/ReactVite- Frontend/coverage/lcov-report/src/components/Dashboard/screens/ActivityScreen.jsx.html
SENG3150-Project/ReactVite- Frontend/coverage/lcov-report/src/components/Dashboard/screens/CalendarScreen.jsx.html
SENG3150-Project/ReactVite- Frontend/coverage/lcov-report/src/components/Dashboard/screens/EditDurationScreen.jsx.html
SENG3150-Project/ReactVite- Frontend/coverage/lcov-report/src/components/Dashboard/screens/index.html
SENG3150-Project/ReactVite- Frontend/coverage/lcov-report/src/components/Dashboard/screens/SessionTypeScreen.jsx.html
SENG3150-Project/ReactVite- Frontend/coverage/lcov-report/src/components/ForgetPassword/ForgetPasswordEmailEntryForm.jsx.html
SENG3150-Project/ReactVite- Frontend/coverage/lcov-report/src/components/ForgetPassword/ForgetPasswordEnterCodeForm.jsx.html
SENG3150-Project/ReactVite- Frontend/coverage/lcov-report/src/components/ForgetPassword/index.html
SENG3150-Project/ReactVite- Frontend/coverage/lcov-report/src/components/Login/index.html
SENG3150-Project/ReactVite- Frontend/coverage/lcov-report/src/components/Login/LoginForm.jsx.html
SENG3150-Project/ReactVite- Frontend/coverage/lcov-report/src/components/ManageActivities/index.html
SENG3150-Project/ReactVite- Frontend/coverage/lcov-report/src/components/ManageActivities/Tile.jsx.html
SENG3150-Project/ReactVite- Frontend/coverage/lcov-report/src/components/ManageActivities/TileBody.jsx.html
SENG3150-Project/ReactVite- Frontend/coverage/lcov-report/src/components/ManageActivities/TileHeader.jsx.html
SENG3150-Project/ReactVite- Frontend/coverage/lcov-report/src/components/ManageActivities/TileLayoutContainer.jsx.html
SENG3150-Project/ReactVite- Frontend/coverage/lcov-report/src/components/Register/index.html
SENG3150-Project/ReactVite- Frontend/coverage/lcov-report/src/components/Register/RegisterForm.jsx.html
SENG3150-Project/ReactVite- Frontend/coverage/lcov-report/src/components/ResetPassword/index.html
SENG3150-Project/ReactVite- Frontend/coverage/lcov-report/src/components/ResetPassword/ResetPasswordForm.jsx.html
SENG3150-Project/ReactVite- Frontend/coverage/lcov-report/src/layout/EntryLayout.jsx.html
SENG3150-Project/ReactVite- Frontend/coverage/lcov-report/src/layout/index.html
SENG3150-Project/ReactVite- Frontend/coverage/lcov-report/src/lib/index.html
SENG3150-Project/ReactVite- Frontend/coverage/lcov-report/src/lib/validation.js.html
SENG3150-Project/ReactVite- Frontend/coverage/lcov-report/src/pages/Attendance.jsx.html
SENG3150-Project/ReactVite- Frontend/coverage/lcov-report/src/pages/Dashboard.jsx.html
SENG3150-Project/ReactVite- Frontend/coverage/lcov-report/src/pages/ForgetPassword.jsx.html
SENG3150-Project/ReactVite- Frontend/coverage/lcov-report/src/pages/ForgetPasswordEnterCode.jsx.html
SENG3150-Project/ReactVite- Frontend/coverage/lcov-report/src/pages/index.html
SENG3150-Project/ReactVite- Frontend/coverage/lcov-report/src/pages/Login.jsx.html
SENG3150-Project/ReactVite- Frontend/coverage/lcov-report/src/pages/ManageActivitiesPage.jsx.html
SENG3150-Project/ReactVite- Frontend/coverage/lcov-report/src/pages/Register.jsx.html
SENG3150-Project/ReactVite- Frontend/coverage/lcov-report/src/pages/ResetPassword.jsx.html
SENG3150-Project/ReactVite- Frontend/cypress/screenshots/login.cy.js/Login Flow -- sets auth token on success (failed).png
SENG3150-Project/ReactVite- Frontend/cypress/screenshots/register.cy.js/Register Flow -- registers successfully and redirects after toast delay (stubbed) (failed).png
SENG3150-Project/ReactVite- Frontend/test-results/2025-09-09_17-00-50/junit/junit-34efdd2b03ba881080f3c3e62d57d7e0.xml
SENG3150-Project/ReactVite- Frontend/test-results/2025-09-09_17-00-50/junit/junit-b064ef6b039a8388c0c8977f90cab55b.xml
SENG3150-Project/ReactVite- Frontend/test-results/2025-09-09_17-00-50/mochawesome/merged-report.html
SENG3150-Project/ReactVite- Frontend/test-results/2025-09-09_17-00-50/mochawesome/mochawesome_001.html
SENG3150-Project/ReactVite- Frontend/test-results/2025-09-09_17-00-50/mochawesome/mochawesome_001.json
SENG3150-Project/ReactVite- Frontend/test-results/2025-09-09_17-00-50/mochawesome/mochawesome.html
SENG3150-Project/ReactVite- Frontend/test-results/2025-09-09_17-00-50/mochawesome/mochawesome.json
SENG3150-Project/ReactVite- Frontend/test-results/2025-09-09_17-00-50/mochawesome/assets/app.css
SENG3150-Project/ReactVite- Frontend/test-results/2025-09-09_17-00-50/mochawesome/assets/app.js
SENG3150-Project/ReactVite- Frontend/test-results/2025-09-09_17-00-50/mochawesome/assets/app.js.LICENSE.txt
SENG3150-Project/ReactVite- Frontend/test-results/2025-09-09_17-00-50/mochawesome/assets/MaterialIcons-Regular.woff
SENG3150-Project/ReactVite- Frontend/test-results/2025-09-09_17-00-50/mochawesome/assets/MaterialIcons-Regular.woff2
SENG3150-Project/ReactVite- Frontend/test-results/2025-09-09_17-00-50/mochawesome/assets/roboto-light-webfont.woff
SENG3150-Project/ReactVite- Frontend/test-results/2025-09-09_17-00-50/mochawesome/assets/roboto-light-webfont.woff2
SENG3150-Project/ReactVite- Frontend/test-results/2025-09-09_17-00-50/mochawesome/assets/roboto-medium-webfont.woff
SENG3150-Project/ReactVite- Frontend/test-results/2025-09-09_17-00-50/mochawesome/assets/roboto-medium-webfont.woff2
SENG3150-Project/ReactVite- Frontend/test-results/2025-09-09_17-00-50/mochawesome/assets/roboto-regular-webfont.woff
SENG3150-Project/ReactVite- Frontend/test-results
SENG3150-Project/ReactVite- Frontend/cypress/screenshots/activity_management/ActivityCreate.cy.js/Activity Create Flow -- creates a new activity with the backend active (failed).png
.gitignore
C:\Users\hongd\OneDrive - The University Of Newcastle\Software Project 1\github Tutorial\SENG3150A\SENG3150-Project\ReactVite- Frontend\cypress\screenshots
SENG3150-Project/ReactVite- Frontend/cypress/screenshots/login_register/login.cy.js
