/* Styles for TileLayout */
.k-tilelayout {
    background-color: rgba(175, 210, 187, 1) !important;
    height: fit-content;
    width: 100vw;
}

/* Css for Tiles */
.k-tile {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background-color: rgba(245, 251, 239, 1);
}

/* Css for the whole card */
.k-card {
    background-color: rgba(245, 251, 239, 1);
    max-height: 250px;
}

/* Card Body Css */
.k-card-body {
    padding: 15px;
    padding-top: 10px;
}