<!--
Author: Harrison Armstrong
Date: 24/03/2025
Description:    This is the dashboard page for the website. 
                This is a simple page that simply contains a back button.
                Intermediate functionality- no real dashboard yet.
-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dashboard-</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <script src="index.js"></script>
    
    <div class="header">
        <img src="logo.png" alt="Image Cannot be Loaded...">
    </div>

    <h1 class="title">Dashboard</h1>
    <button class="formButton" type="submit" formaction="/">Back</button>

    <div class="footer">

    </div>

  </body>
</html>