<!--
Author: Harrison Armstrong
Date: 24/03/2025
Description:    This is the forgotten password code page for the website. 
                It is a simple form that takes in a code. 
                The code is then sent to the server for processing.
-->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Enter Your Unique Code-</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <script src="index.js"></script>

    <div class="header">
        <img src="logo.png" alt="Image Cannot be Loaded...">
    </div>

    <div class="form" id="forgotPasswordCodeForm">
        <h1 class="title">Enter Code</h1>
        <form action="/" method="POST">
            <div class="input">
                <label for="code">Code</label>
                <input type="text" name="code" id="forgotPasswordCode" placeholder="123ABC" required>
            </div>

            <div class="input">
                <button><a href="/forget-password">Back</a></button>
            </div>

            <div class="input">
                <button type="submit">Enter</button>
            </div>
    </div>

    <div class="footer">

    </div>
  </body>
</html>